.container {
  font-size: 14px;
}
.container .header {
  text-transform: uppercase;
  font-size: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.container .header > .header__flex-wrapper {
  display: flex;
}
.container .header > .header__flex-wrapper > .header__title {
  padding: 10px;
}
.container .header > .header__flex-wrapper > .header__theme-box-container {
  padding: 10px;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box {
  width: 40px;
  position: relative;
  right: 0;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box > .header__theme-box__btn {
  position: absolute;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box > .header__theme-box__btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 2px;
  bottom: 2px;
  transition: 0.4s;
}
.container .header__theme-box__box:checked + .header__theme-box__btn::before {
  transform: translateX(calc(100% - 4px));
}
.container .header__theme-box__box[type=checkbox] {
  display: none;
}

.dark {
  background-color: #1b1b1b;
}
.dark .header {
  color: #F5F5F5;
  background-color: #1b1b1b;
  border-bottom: 1px solid #E4D4B6;
}
.dark .header .header__color-different {
  color: #E4D4B6;
}
.dark .header__theme-box > .header__theme-box__btn {
  background-color: #E4D4B6;
}
.dark .header__theme-box > .header__theme-box__btn::before {
  background-color: #272729;
}

.light {
  background-color: #e7e7e7;
}
.light .header {
  color: #272729;
  background-color: #e7e7e7;
  border-bottom: 1px solid #666050;
}
.light .header .header__color-different {
  color: #5e4f3d;
}
.light .header__theme-box > .header__theme-box__btn {
  background-color: #5e4f3d;
}
.light .header__theme-box > .header__theme-box__btn::before {
  background-color: #272729;
}
.light input:checked + .header__theme-box__btn {
  background-color: #5e4f3d;
}

@media (min-width: 600px) {
  .container {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .container {
    font-size: 20px;
  }
  .container .header > .header__flex-wrapper > .header__theme-box-container {
    padding: 15px 10px;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.presentation {
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentation .presentation__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
.presentation .presentation__left .presentation__phrase {
  max-width: 320px;
}
.presentation .presentation__right {
  border: 5px solid #a3987c;
}
.presentation .presentation__right .presentation__image {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.dark .presentation {
  background-image: linear-gradient(to right, #0f0f0f, #1f1f1f);
}
.dark .presentation__left {
  text-align: center;
}
.dark .presentation__left .presentation__title {
  color: #F5F5F5;
}
.dark .presentation__left .presentation__equal {
  color: #c49c6b;
}
.dark .presentation__left .presentation__phrase {
  color: #b6a289;
}
.dark .presentation__right {
  background-image: linear-gradient(to bottom right, #272729, #a15e53, #B08A5A, #9F8F7B, #736A54);
  border: 5px solid #c49c6b;
}

.light .presentation {
  background-image: linear-gradient(to right, #d6d5d5, #f0f0f0);
}
.light .presentation__left .presentation__title {
  color: #272729;
}
.light .presentation__left .presentation__equal {
  color: #5e4f3d;
}
.light .presentation__left .presentation__phrase {
  color: #666050;
}
.light .presentation__right {
  background-image: linear-gradient(to bottom left, #E4D4B6, #F5F5F5, #B08A5A, #9F8F7B, #736A54);
  border: 5px solid #666050;
}

@media (min-width: 600px) {
  .presentation {
    padding-top: 60px;
  }
  .presentation .presentation__left {
    animation: LeftToRight 1s;
  }
  .presentation .presentation__right {
    animation: LeftToRight 1.2s;
  }
  .presentation .presentation__right .presentation__image {
    width: 250px;
    height: 300px;
  }
}
@media (min-width: 900px) {
  .presentation {
    flex-direction: row;
    padding: 150px 0;
  }
  .presentation .presentation__left {
    text-align: left;
  }
  .presentation .presentation__right .presentation__image {
    width: 300px;
    height: 350px;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.text-content {
  display: grid;
  overflow: hidden;
  max-width: 320px;
  height: 40vh;
  margin: 0 auto;
  padding: 0 10px;
  place-content: center;
  text-align: justify;
}

.highlighted-text {
  font-weight: 700;
}

.dark .text-content {
  color: #b6a289;
}
.dark .text-content > .text {
  padding: 10px;
  border: 2px solid #a3987c;
  box-shadow: 9px 9px 0px #a3987c;
}
.dark .text-content > .text > .highlighted-text {
  color: #E4D4B6;
}

.light .text-content {
  color: #666050;
}
.light .text-content > .text {
  padding: 10px;
  border: 2px solid #666050;
  box-shadow: 9px 9px 0px #666050;
}
.light .text-content > .text > .highlighted-text {
  color: #666050;
}

@media (min-width: 600px) {
  .text-content {
    max-width: 380px;
    animation: toEmerge3 1.3s;
  }
}
@media (min-width: 700px) {
  .text-content {
    height: 50vh;
    max-width: 600px;
  }
}
.icons-knowledge {
  display: flex;
  padding: 20px;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.icons-knowledge__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-knowledge__icon {
  width: 50px;
}

.icons-knowledge__icon-name {
  text-transform: uppercase;
}

.dark .icons-knowledge {
  background-image: linear-gradient(to left, #0f0f0f, #1f1f1f);
}
.dark .icons-knowledge__icon-name {
  color: #F5F5F5;
}

.light .icons-knowledge {
  background-image: linear-gradient(to left, #d6d5d5, #f0f0f0);
}
.light .icons-knowledge__icon-name {
  color: #666050;
}

@media (min-width: 600px) {
  .icons-knowledge__flex-wrapper {
    filter: grayscale(50%);
    animation: toEmerge2;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  .icons-knowledge__flex-wrapper:hover {
    transform: scale(1.1);
    filter: grayscale(0);
    transition: all 0.3s;
  }
  .icons-knowledge {
    height: 30vh;
    gap: 30px;
  }
  .icons-knowledge__icon {
    width: 80px;
  }
}
@media (min-width: 900px) {
  .icons-knowledge__icon {
    width: 100px;
  }
}
.projects {
  max-width: 900px;
  margin: 0 auto 100px;
  padding: 0 10px;
}

.projects-title {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px 30px;
}

.project__name {
  font-size: 0.9em;
}

.project__paragraph {
  font-size: 0.7em;
}

.projects__flex-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project__image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.dark .projects-title {
  color: #E4D4B6;
}
.dark .project__name {
  color: #c49c6b;
}
.dark .project__paragraph {
  color: #a3987c;
}

.light .projects-title {
  color: #272729;
}
.light .project__name {
  color: #5e4f3d;
}
.light .project__paragraph {
  color: #666050;
}

@media (min-width: 600px) {
  .projects-title {
    animation: toEmerge;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  .projects__flex-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .projects__project {
    animation: toEmerge;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
}
@media (min-width: 950px) {
  .projects__flex-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.contacts {
  display: grid;
  padding: 100px 0;
  place-content: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 50px;
}

.contacts__title {
  text-transform: uppercase;
}

.contacts__flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contacts__contact {
  width: 280px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  padding: 5px;
}

.contacts__contact-icon {
  width: 30px;
}

.dark .contacts {
  background-image: linear-gradient(to right, #0f0f0f, #1f1f1f);
}
.dark .contacts__title {
  color: #E4D4B6;
}
.dark .contacts__paragraph {
  color: #F5F5F5;
}
.dark .contacts__contact {
  background-color: #F5F5F5;
  color: #1f1f1f;
  border-bottom: 2px solid #c49c6b;
}

.light .contacts {
  background-image: linear-gradient(to right, #d6d5d5, #f0f0f0);
}
.light .contacts__paragraph {
  color: #666050;
}
.light .contacts__contact {
  color: #666050;
  border-bottom: 2px solid #666050;
}

@media (min-width: 600px) {
  .contacts__contact {
    width: 400px;
    font-size: 18px;
    padding: 10px;
  }
  .contacts__contact-icon {
    width: 50px;
  }
  .contacts__title {
    animation: opacityApear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
  }
  .contacts__paragraph {
    animation: opacityApear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
  }
  .contacts__contact {
    animation: opacityApear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.curriculum {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  margin-bottom: 100px;
}

.curriculum__title {
  text-transform: uppercase;
}

.curriculum__preview {
  width: 280px;
  height: 350px;
  border: 2px solid black;
}
.curriculum__preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.curriculum__btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  width: 150px;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  gap: 5px;
}
.curriculum__btn:hover {
  transition: all 0.3s;
}

.curriculum__btn__icon {
  width: 30px;
}

.dark .curriculum__title {
  color: #E4D4B6;
}
.dark .curriculum__btn {
  background-color: #b6a289;
  color: #1b1b1b;
  border: 3px solid #b6a289;
}
.dark .curriculum__btn:hover {
  border: 3px solid #1b1b1b;
}

.light .curriculum__title {
  color: #272729;
}
.light .curriculum__btn {
  color: #e7e7e7;
  border: 3px solid #666050;
  background-color: #666050;
}
.light .curriculum__btn:hover {
  border: 3px solid #272729;
}

@media (min-width: 600px) {
  .curriculum__title {
    animation: toEmerge;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  .curriculum__preview {
    width: 350px;
    height: 400px;
    animation: toEmerge;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  .curriculum__btn {
    width: 200px;
    padding: 10px 10px;
    gap: 30px;
    animation: download 0.8s ease-in-out alternate infinite;
  }
  .contacts__btn-icon {
    width: 30px;
  }
}
.modal-projects-container {
  display: flex;
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.829);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.modal-open {
  opacity: 1;
  visibility: visible;
}

.modal-projects {
  position: relative;
  width: 350px;
  height: 620px;
  padding: 30px;
  top: 50%;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.3s ease;
}

.modal-open .modal-projects {
  transform: translate(-50%, -50%) scale(1);
}

.modal-projects__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-projects__img-project {
  width: 100%;
  height: 460px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.modal-projects__btn {
  padding: 3px 10px;
  width: 200px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 8px;
  color: black;
}

.modal-projects__btn:hover {
  transition: all 0.5s;
}

.dark .modal-projects {
  background-color: #1b1b1b;
  border: 1px solid #E4D4B6;
  box-shadow: 0 5px 40px #E4D4B6;
}
.dark .modal-projects__btn {
  background-color: #E4D4B6;
  border: 1px solid #F5F5F5;
}
.dark .modal-projects__btn:hover {
  background-color: #666050;
  color: #E4D4B6;
}

.light .modal-projects {
  background-color: #d6d5d5;
  border: 1px solid #272729;
  box-shadow: 0 5px 40px #E4D4B6;
}
.light .modal-projects__btn {
  background-color: #272729;
  color: #E4D4B6;
  border: 1px solid #F5F5F5;
}
.light .modal-projects__btn:hover {
  background-color: #E4D4B6;
  color: #272729;
}

@media (min-width: 720px) {
  .modal-projects {
    width: 600px;
    height: 500px;
  }
  .modal-projects__img-project {
    height: 460px;
  }
  .modal-projects__btn {
    padding: 5px 10px;
    cursor: pointer;
  }
}
@media (min-width: 900px) {
  .modal-projects {
    width: 830px;
    height: 610px;
  }
  .modal-projects__img-project {
    height: 570px;
  }
}
@media (min-width: 1200px) {
  .modal-projects {
    width: 900px;
    height: 660px;
  }
  .modal-projects__img-project {
    height: 620px;
  }
  .modal-projects__btn {
    padding: 5px 10px;
    cursor: pointer;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
  text-transform: uppercase;
  padding: 10px;
}

.dark .footer {
  color: #F5F5F5;
  background-image: linear-gradient(to left, #0f0f0f, #1f1f1f);
}
.dark .footer .footer__color-different {
  color: #E4D4B6;
}

.light .footer {
  background-image: linear-gradient(to left, #d6d5d5, #f0f0f0);
}
.light .footer .footer__color-different {
  color: #c49c6b;
}

@media (min-width: 600px) {
  .footer {
    animation: LeftToRight;
    animation-timeline: view();
    animation-range: entry 0%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

a:active {
  color: black;
}

/*# sourceMappingURL=index.css.map */
