.container {
  font-size: 14px;
}
.container .header {
  text-transform: uppercase;
  font-size: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.container .header > .header__flex-wrapper {
  display: flex;
}
.container .header > .header__flex-wrapper > .header__title {
  padding: 10px;
}
.container .header > .header__flex-wrapper > .header__theme-box-container {
  padding: 10px;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box {
  width: 40px;
  position: relative;
  right: 0;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box > .header__theme-box__btn {
  position: absolute;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box > .header__theme-box__btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 2px;
  bottom: 2px;
  transition: 0.4s;
}
.container .header__theme-box__box:checked + .header__theme-box__btn::before {
  transform: translateX(calc(100% - 4px));
}
.container .header__theme-box__box[type=checkbox] {
  display: none;
}

.dark {
  background-color: #1b1b1b;
}
.dark .header {
  color: #F5F5F5;
  background-color: #1b1b1b;
  border-bottom: 1px solid #E4D4B6;
}
.dark .header .header__color-different {
  color: #E4D4B6;
}
.dark .header__theme-box > .header__theme-box__btn {
  background-color: #E4D4B6;
}
.dark .header__theme-box > .header__theme-box__btn::before {
  background-color: #272729;
}

.light {
  background-color: #e7e7e7;
}
.light .header {
  color: #272729;
  background-color: #e7e7e7;
  border-bottom: 1px solid #736A54;
}
.light .header .header__color-different {
  color: #B08A5A;
}
.light .header__theme-box > .header__theme-box__btn::before {
  background-color: #272729;
}
.light input:checked + .header__theme-box__btn {
  background-color: #9F8F7B;
}

@media (min-width: 600px) {
  .container {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .container {
    font-size: 20px;
  }
  .container .header > .header__flex-wrapper > .header__theme-box-container {
    padding: 15px 10px;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.presentation {
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentation .presentation__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  text-align: center;
  animation: LeftToRight 1s;
}
.presentation .presentation__left .presentation__phrase {
  max-width: 320px;
}
.presentation .presentation__right {
  border: 5px solid #736A54;
  animation: LeftToRight 1.2s;
}
.presentation .presentation__right .presentation__image {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.dark .presentation {
  background-image: linear-gradient(to right, #0f0f0f, #1f1f1f);
}
.dark .presentation__left {
  text-align: center;
}
.dark .presentation__left .presentation__title {
  color: #F5F5F5;
}
.dark .presentation__left .presentation__equal {
  color: #B08A5A;
}
.dark .presentation__left .presentation__phrase {
  color: #9F8F7B;
}
.dark .presentation__right {
  background-image: linear-gradient(to bottom right, #272729, #a15e53, #B08A5A, #9F8F7B, #736A54);
  border: 5px solid #B08A5A;
}

.light .presentation {
  background-image: linear-gradient(to right, #d6d5d5, #f0f0f0);
}
.light .presentation__left .presentation__title {
  color: #272729;
}
.light .presentation__left .presentation__equal {
  color: #B08A5A;
}
.light .presentation__left .presentation__phrase {
  color: #736A54;
}
.light .presentation__right {
  background-image: linear-gradient(to bottom left, #E4D4B6, #F5F5F5, #B08A5A, #9F8F7B, #736A54);
  border: 5px solid #736A54;
}

@media (min-width: 600px) {
  .presentation {
    padding-top: 60px;
  }
  .presentation .presentation__right .presentation__image {
    width: 250px;
    height: 300px;
  }
}
@media (min-width: 900px) {
  .presentation {
    flex-direction: row;
    padding: 150px 0;
  }
  .presentation .presentation__left {
    text-align: left;
  }
  .presentation .presentation__right .presentation__image {
    width: 300px;
    height: 350px;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.text-content {
  display: grid;
  overflow: hidden;
  max-width: 320px;
  height: 40vh;
  margin: 0 auto;
  padding: 0 10px;
  place-content: center;
  text-align: justify;
  animation: toEmerge3 1.3s;
}

.highlighted-text {
  font-weight: 700;
}

.dark .text-content {
  color: #9F8F7B;
}
.dark .text-content > .text {
  padding: 10px;
  border: 2px solid #736A54;
  box-shadow: 9px 9px 0px #736A54;
}
.dark .text-content > .text > .highlighted-text {
  color: #E4D4B6;
}

.light .text-content {
  color: #9F8F7B;
}
.light .text-content > .text {
  padding: 10px;
  border: 2px solid #736A54;
  box-shadow: 9px 9px 0px #736A54;
}
.light .text-content > .text > .highlighted-text {
  color: #736A54;
}

@media (min-width: 600px) {
  .text-content {
    max-width: 380px;
  }
}
@media (min-width: 700px) {
  .text-content {
    height: 50vh;
    max-width: 600px;
  }
}
.icons-knowledge {
  display: flex;
  padding: 20px;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.icons-knowledge__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: grayscale(50%);
  animation: toEmerge2;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.icons-knowledge__flex-wrapper:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  transition: all 0.3s;
}

.icons-knowledge__icon {
  width: 50px;
}

.icons-knowledge__icon-name {
  text-transform: uppercase;
}

.dark .icons-knowledge {
  background-image: linear-gradient(to left, #0f0f0f, #1f1f1f);
}
.dark .icons-knowledge__icon-name {
  color: #F5F5F5;
}

.light .icons-knowledge {
  background-image: linear-gradient(to left, #d6d5d5, #f0f0f0);
}
.light .icons-knowledge__icon-name {
  color: #736A54;
}

@media (min-width: 600px) {
  .icons-knowledge {
    height: 30vh;
    gap: 30px;
  }
  .icons-knowledge__icon {
    width: 80px;
  }
}
@media (min-width: 900px) {
  .icons-knowledge__icon {
    width: 100px;
  }
}
.projects {
  max-width: 900px;
  margin: 0 auto 100px;
  padding: 0 10px;
}

.projects-title {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px 30px;
  animation: toEmerge;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.projects__flex-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  animation: toEmerge;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.project__image {
  width: 250px;
}

.dark .projects-title {
  color: #E4D4B6;
}
.dark .project__name {
  color: #B08A5A;
}
.dark .project__paragraph {
  color: #736A54;
}

.light .projects-title {
  color: #272729;
}
.light .project__name {
  color: #B08A5A;
}
.light .project__paragraph {
  color: #736A54;
}

@media (min-width: 600px) {
  .projects__flex-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .projects__flex-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.contacts {
  display: grid;
  padding: 100px 0;
  place-content: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 50px;
  animation: opacityApear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.contacts__title {
  text-transform: uppercase;
  animation: opacityApear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.contacts__paragraph {
  animation: opacityApear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.contacts__flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contacts__contact {
  width: 280px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  padding: 5px;
  animation: opacityApear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.contacts__contact-icon {
  width: 30px;
}

.dark .contacts {
  background-image: linear-gradient(to right, #0f0f0f, #1f1f1f);
}
.dark .contacts__title {
  color: #E4D4B6;
}
.dark .contacts__paragraph {
  color: #F5F5F5;
}
.dark .contacts__contact {
  background-color: #F5F5F5;
  color: #736A54;
  border-bottom: 2px solid #B08A5A;
}

.light .contacts {
  background-image: linear-gradient(to right, #d6d5d5, #f0f0f0);
}
.light .contacts__paragraph {
  color: #736A54;
}
.light .contacts__contact {
  color: #736A54;
  border-bottom: 2px solid #736A54;
}

@media (min-width: 600px) {
  .contacts__contact {
    width: 400px;
    font-size: 18px;
    padding: 10px;
  }
  .contacts__contact-icon {
    width: 50px;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.curriculum {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  margin-bottom: 100px;
}

.curriculum__title {
  text-transform: uppercase;
  animation: toEmerge;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.curriculum__preview {
  width: 280px;
  height: 350px;
  border: 2px solid black;
  animation: toEmerge;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.curriculum__preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.curriculum__btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  width: 120px;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  gap: 5px;
  animation: download 0.8s ease-in-out alternate infinite;
}
.curriculum__btn:hover {
  transition: all 0.3s;
}

.curriculum__btn__icon {
  width: 30px;
}

.dark .curriculum__title {
  color: #E4D4B6;
}
.dark .curriculum__btn {
  background-color: #E4D4B6;
  color: #736A54;
  border: 2px solid #B08A5A;
}
.dark .curriculum__btn:hover {
  background-color: #B08A5A;
  color: #F5F5F5;
}

.light .curriculum__title {
  color: #272729;
}
.light .curriculum__btn {
  color: #736A54;
  border: 2px solid #736A54;
}
.light .curriculum__btn:hover {
  background-color: #B08A5A;
  color: #272729;
}

@media (min-width: 600px) {
  .curriculum__preview {
    width: 350px;
    height: 400px;
    border: 2px solid black;
  }
  .curriculum__preview > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .curriculum__btn {
    width: 200px;
    padding: 10px 10px;
    gap: 30px;
  }
  .contacts__btn-icon {
    width: 30px;
  }
}
@keyframes toEmerge {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toEmerge2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toEmerge3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityApear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes download {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
  text-transform: uppercase;
  padding: 10px;
  animation: LeftToRight;
  animation-timeline: view();
  animation-range: entry 0%;
}

.dark .footer {
  color: #F5F5F5;
  background-image: linear-gradient(to left, #0f0f0f, #1f1f1f);
}
.dark .footer .footer__color-different {
  color: #E4D4B6;
}

.light .footer {
  background-image: linear-gradient(to left, #d6d5d5, #f0f0f0);
}
.light .footer .footer__color-different {
  color: #B08A5A;
}

@keyframes LeftToRight {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
