.container {
  font-size: 14px;
}
.container .header {
  text-transform: uppercase;
  font-size: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.container .header > .header__flex-wrapper {
  display: flex;
}
.container .header > .header__flex-wrapper > .header__title {
  padding: 10px;
}
.container .header > .header__flex-wrapper > .header__theme-box-container {
  padding: 10px;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box {
  width: 40px;
  position: relative;
  right: 0;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box > .header__theme-box__btn {
  position: absolute;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.container .header > .header__flex-wrapper > .header__theme-box-container > .header__theme-box > .header__theme-box__btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 2px;
  bottom: 2px;
  transition: 0.4s;
}
.container .header__theme-box__box:checked + .header__theme-box__btn::before {
  transform: translateX(calc(100% - 4px));
}
.container .header__theme-box__box[type=checkbox] {
  display: none;
}

.dark {
  background-color: #272729;
}
.dark .header {
  color: #F5F5F5;
  background-color: #272729;
}
.dark .header .header__color-different {
  color: #E4D4B6;
}
.dark .header__theme-box > .header__theme-box__btn {
  background-color: #E4D4B6;
}
.dark .header__theme-box > .header__theme-box__btn::before {
  background-color: #272729;
}

.light {
  background-color: #F7F7F7;
}
.light .header {
  color: #272729;
  background-color: #F7F7F7;
}
.light .header .header__color-different {
  color: #B08A5A;
}
.light .header__theme-box > .header__theme-box__btn::before {
  background-color: #272729;
}
.light input:checked + .header__theme-box__btn {
  background-color: #9F8F7B;
}

@media (min-width: 600px) {
  .container {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .container {
    font-size: 20px;
  }
  .container .header > .header__flex-wrapper > .header__theme-box-container {
    padding: 15px 10px;
  }
}
.presentation {
  height: 50vh;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentation .presentation__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.presentation .presentation__left .presentation__phrase {
  max-width: 320px;
}
.presentation .presentation__right {
  border: 5px solid #736A54;
}
.presentation .presentation__right .presentation__image {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.dark .presentation__left {
  text-align: center;
}
.dark .presentation__left .presentation__title {
  color: #F5F5F5;
}
.dark .presentation__left .presentation__equal {
  color: #B08A5A;
}
.dark .presentation__left .presentation__phrase {
  color: #9F8F7B;
}
.dark .presentation__right {
  background-image: linear-gradient(to bottom right, #272729, #a15e53, #B08A5A, #9F8F7B, #736A54);
  border: 5px solid #B08A5A;
}

.light .presentation__left .presentation__title {
  color: #272729;
}
.light .presentation__left .presentation__equal {
  color: #B08A5A;
}
.light .presentation__left .presentation__phrase {
  color: #736A54;
}
.light .presentation__right {
  background-image: linear-gradient(to bottom left, #E4D4B6, #F5F5F5, #B08A5A, #9F8F7B, #736A54);
  border: 5px solid #736A54;
}

@media (min-width: 600px) {
  .presentation {
    padding-top: 60px;
  }
  .presentation .presentation__right .presentation__image {
    width: 250px;
    height: 300px;
  }
}
@media (min-width: 900px) {
  .presentation {
    flex-direction: row;
  }
  .presentation .presentation__left {
    text-align: left;
  }
  .presentation .presentation__right .presentation__image {
    width: 300px;
    height: 350px;
  }
}
.text-content {
  display: grid;
  max-width: 320px;
  height: 40vh;
  margin: 0 auto;
  padding: 0 10px;
  place-content: center;
  text-align: justify;
}

.highlighted-text {
  font-weight: 700;
}

.dark .text-content {
  color: #9F8F7B;
}
.dark .text-content > .text {
  padding: 10px;
  border: 2px solid #736A54;
  box-shadow: 9px 9px 0px #736A54;
}
.dark .text-content > .text > .highlighted-text {
  color: #E4D4B6;
}

.light .text-content {
  color: #9F8F7B;
}
.light .text-content > .text {
  padding: 10px;
  border: 2px solid #736A54;
  box-shadow: 9px 9px 0px #736A54;
}
.light .text-content > .text > .highlighted-text {
  color: #736A54;
}

@media (min-width: 600px) {
  .text-content {
    max-width: 380px;
  }
}
@media (min-width: 700px) {
  .text-content {
    height: 50vh;
    max-width: 600px;
  }
}
.icons-knowledge {
  display: flex;
  height: 20vh;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.icons-knowledge__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: grayscale(50%);
}

.icons-knowledge__flex-wrapper:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  transition: all 0.3s;
}

.icons-knowledge__icon {
  width: 50px;
}

.icons-knowledge__icon-name {
  text-transform: uppercase;
}

.dark .icons-knowledge__icon-name {
  color: #F5F5F5;
}

.light .icons-knowledge__icon-name {
  color: #736A54;
}

@media (min-width: 600px) {
  .icons-knowledge {
    height: 30vh;
    gap: 30px;
  }
  .icons-knowledge__icon {
    width: 80px;
  }
}
@media (min-width: 900px) {
  .icons-knowledge__icon {
    width: 100px;
  }
}
.projects {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.projects-title {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px 30px;
}

.projects__flex-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project__image {
  width: 250px;
}

.dark .projects-title {
  color: #E4D4B6;
}
.dark .project__name {
  color: #B08A5A;
}
.dark .project__paragraph {
  color: #736A54;
}

.light .projects-title {
  color: #272729;
}
.light .project__name {
  color: #B08A5A;
}
.light .project__paragraph {
  color: #736A54;
}

@media (min-width: 600px) {
  .projects__flex-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .projects__flex-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.contacts {
  display: grid;
  place-content: center;
  height: 40vh;
  text-align: center;
  gap: 30px;
  padding: 0 10px;
}

.contacts__title {
  text-transform: uppercase;
}

.contacts__btns-flex-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contacts__btn {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
}
.contacts__btn:hover {
  transition: all 0.3s;
}

.contacts__btn-icon {
  width: 30px;
}

.dark .contacts__title {
  color: #E4D4B6;
}
.dark .contacts__paragraph {
  color: #F5F5F5;
}
.dark .contacts__btn {
  background-color: #E4D4B6;
  color: #736A54;
  border: 2px solid #B08A5A;
}
.dark .contacts__btn:hover {
  background-color: #B08A5A;
  color: #F5F5F5;
}

.light .contacts__paragraph {
  color: #736A54;
}
.light .contacts__btn {
  color: #736A54;
  border: 2px solid #736A54;
}
.light .contacts__btn:hover {
  background-color: #B08A5A;
  color: #272729;
}

@media (min-width: 600px) {
  .contacts__btn {
    width: 200px;
    padding: 10px 10px;
  }
  .contacts__btn-icon {
    width: 50px;
  }
}
.curriculum {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  margin-bottom: 50px;
}

.curriculum__title {
  text-transform: uppercase;
}

.curriculum__preview {
  width: 350px;
  height: 400px;
  border: 2px solid black;
}
.curriculum__preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.curriculum__btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  width: 120px;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  gap: 5px;
}
.curriculum__btn:hover {
  transition: all 0.3s;
}

.curriculum__btn__icon {
  width: 30px;
}

.dark .curriculum__title {
  color: #E4D4B6;
}
.dark .curriculum__btn {
  background-color: #E4D4B6;
  color: #736A54;
  border: 2px solid #B08A5A;
}
.dark .curriculum__btn:hover {
  background-color: #B08A5A;
  color: #F5F5F5;
}

.light .curriculum__title {
  color: #272729;
}
.light .curriculum__btn {
  color: #736A54;
  border: 2px solid #736A54;
}
.light .curriculum__btn:hover {
  background-color: #B08A5A;
  color: #272729;
}

@media (min-width: 600px) {
  .curriculum__btn {
    width: 200px;
    padding: 10px 10px;
    gap: 30px;
  }
  .contacts__btn-icon {
    width: 30px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
  text-transform: uppercase;
  padding: 10px;
}

.dark .footer {
  color: #F5F5F5;
}
.dark .footer .footer__color-different {
  color: #E4D4B6;
}

.light .footer .footer__color-different {
  color: #B08A5A;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/*# sourceMappingURL=index.css.map */
