@import 'configs-default';
@import 'colors-dark';
@import 'colors-light';
@import 'animations';

.curriculum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
    margin-bottom: $margin-bottom;
}

.curriculum__title {
    text-transform: uppercase;
}

.curriculum__preview {
    width: 280px;
    height: 350px;
    border: 2px solid black;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.curriculum__btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    width: 150px;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    gap: 5px;
    &:hover {
        transition: all .3s;
    }
}

.curriculum__btn__icon {
    width: 30px;
}

.dark {
    .curriculum__title {
        color: $color-dark-1;
    }
    
    .curriculum__btn {
        background-color: $color-dark-5;
        color: $color-dark-theme;
        border: 3px solid $color-dark-5;
        &:hover {
            border: 3px solid $color-dark-theme;
        }
    }
}

.light {
    .curriculum__title {
        color: $color-light-2;
    }
    
    .curriculum__btn {
        color: $color-light-theme;
        border: 3px solid $color-light-4;
        background-color: $color-light-4;
        &:hover {
            border: 3px solid $color-light-2;
        }
    }
}

@media (min-width: 600px) {
    .curriculum__title {
        animation: toEmerge;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }

    .curriculum__preview {
        width: 350px;
        height: 400px;
        animation: toEmerge;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }
    
    .curriculum__btn {
        width: 200px;
        padding: 10px 10px;
        gap: 30px;
        animation: download .8s ease-in-out alternate infinite;
    }

    .contacts__btn-icon {
        width: 30px;
    }
}