@import 'colors-dark';
@import 'colors-light';
@import 'animations';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
    text-transform: uppercase;
    padding: 10px;
}

.dark {
    .footer {
        color: $color-dark-2;
        background-image: linear-gradient(to left, $color-dark-theme-2, $color-dark-theme-3);
        .footer__color-different {
            color: $color-dark-1;
        }
    }
}

.light {
    .footer {
        background-image: linear-gradient(to left, $color-light-theme-2, $color-light-theme-3);
        .footer__color-different {
            color: $color-dark-3;
        }
    }
}

@media (min-width: 600px) {
    .footer {
        animation: LeftToRight;
        animation-timeline: view();
        animation-range: entry 0%;
    }
}