@import 'colors-dark';
@import 'colors-light';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
    text-transform: uppercase;
    padding: 10px;
}

.dark {
    .footer {
        color: $color-dark-2;
        .footer__color-different {
            color: $color-dark-1;
        }
    }
}

.light {
    .footer {
        .footer__color-different {
            color: $color-dark-3;
        }
    }
}