@import 'colors-dark';
@import 'colors-light';

.container {
    font-size: 14px;

    .header {
        text-transform: uppercase;
        font-size: 1em;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        > .header__flex-wrapper {
            display: flex;
            > .header__title {
                padding: 10px;
            }
            > .header__theme-box-container {
                padding: 10px;
                display: flex;
                gap: 5px;
                position: absolute;
                top: 0;
                right: 0;
                > .header__theme-box {
                    width: 40px;
                    position: relative;
                    right: 0;
                    > .header__theme-box__btn {
                        position: absolute;
                        cursor: pointer;
                        border-radius: 12px;
                        width: 100%;
                        height: 100%;
                        transition: .4s;
                        &::before {
                            content: "";
                            position: absolute;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            left: 2px;
                            bottom: 2px;
                            transition: .4s;
                        }
                    } 
                }
            }
        }
    }



    .header__theme-box__box:checked + .header__theme-box__btn::before{
        transform: translateX(calc(100% - 4px));
    }

    .header__theme-box__box[type="checkbox"] {
        display: none;
    }
}

.dark {
    background-color: $color-dark-theme;

    .header {
        color: $color-dark-2;
        background-color: $color-dark-theme;
        border-bottom: 1px solid $color-dark-1;
        .header__color-different {
            color: $color-dark-1;
        }
    }

    .header__theme-box {
        > .header__theme-box__btn {
            background-color: $color-dark-1;
            &::before {
                background-color: #272729;
            }
        } 
    }
}

.light {
    background-color: $color-light-theme;

    .header {
        color: $color-light-2;
        background-color: $color-light-theme;
        border-bottom: 1px solid $color-light-4;
        .header__color-different {
            color: $color-light-3;
        }
    }

    .header__theme-box {
        > .header__theme-box__btn {
            &::before {
                background-color: $color-light-2;
            }
        } 
    }

    input:checked + .header__theme-box__btn{
        background-color: $color-light-5;
    }
}

@media (min-width: 600px) {
    .container {
        font-size: 18px;
    }
}

@media (min-width: 900px) {
    .container {
        font-size: 20px;
    }

    .container .header > .header__flex-wrapper > .header__theme-box-container {
        padding: 15px 10px;
    }

}

@keyframes bounceIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}