@import 'configs-default';
@import 'colors-dark';
@import 'colors-light';

.icons-knowledge {
    display: flex;
    padding: 20px;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: $margin-bottom;
}

.icons-knowledge__flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-knowledge__icon {
    width: 50px;
}

.icons-knowledge__icon-name {
    text-transform: uppercase;
}

.dark {
    .icons-knowledge {
        background-image: linear-gradient(to left, $color-dark-theme-2, $color-dark-theme-3);
    }

    .icons-knowledge__icon-name {
        color: $color-dark-2;
    }
}

.light {
    .icons-knowledge {
        background-image: linear-gradient(to left, $color-light-theme-2, $color-light-theme-3);
    }

    .icons-knowledge__icon-name {
        color: $color-light-4;
    }
}

@media (min-width: 600px) {
    .icons-knowledge__flex-wrapper {
        filter: grayscale(50%);
        animation: toEmerge2;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
    
    .icons-knowledge__flex-wrapper:hover {
        transform: scale(1.1);
        filter: grayscale(0);
        transition: all .3s;
    }

    .icons-knowledge {
        height: 30vh;
        gap: 30px;
    }

    .icons-knowledge__icon {
        width: 80px;
    }
}

@media (min-width: 900px) {
    .icons-knowledge__icon {
        width: 100px;
    }
}